services:
  postgresql:
    container_name: postfix-dockerize-postgresql
    image: postgres:18
    restart: always
    environment:
     - POSTGRES_DB=mail
     - POSTGRES_USER=mail
     - POSTGRES_PASSWORD=somePassword
    volumes:
      - /root/mail/postgresql18-data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postfix"]
      interval: 10s
      timeout: 5s
      retries: 5
    # ports:
      # postgres
      # - "9001:5432"
  postfix:
    container_name: postfix
    image: "postfix:0.0.9"
    restart: always
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      - MYDOMAIN=example.org
      - MYORIGIN=example.org
      - MYHOSTNAME=mailserver.example.org
      - PGHOST=postgresql
      - PGPORT=5432
      - PGUSER=mail
      - PGPASS=somePassword
      - PGDATABASE=mail
      - SMTPD_TLS_CERT_FILE=/tmp/cert.pem
      - SMTPD_TLS_KEY_FILE=/tmp/key.pem
      - SMTPD_TLS_DH1024_PARAM_FILE=/tmp/dh2048.pem
      - SMTPD_TLS_DH512_PARAM_FILE=/tmp/dh512.pem
      - MESSAGE_SIZE_LIMIT=20480000
      - VIRTUAL_MAILBOX_BASE=/var/mailstorage
    volumes:
      - /root/mail/mailstorage:/var/mailstorage
      - type: bind
        source: /etc/dhparam/dh2048.pem
        target: /tmp/dh2048.pem
        read_only: true
      - type: bind
        source: /etc/dhparam/dh512.pem
        target: /tmp/dh512.pem
        read_only: true
      - type: bind
        source: /etc/letsencrypt/live/example.org/privkey.pem
        target: /tmp/key.pem
        read_only: true
      - type: bind
        source: /etc/letsencrypt/live/example.org/fullchain.pem
        target: /tmp/cert.pem
        read_only: true
    ports:
      # smtp
      - "25:25"
      # submission port
      - "587:587"
      # Dovecot imap
      - "993:993"
    depends_on:
      postgres:
        condition: service_healthy
      postfixadmin:
        condition: service_started
    healthcheck:
      test: ["CMD-SHELL", "postfix status && dovecot service status && nc -z localhost 587 && nc -z localhost 993"]
      interval: 10s
      timeout: 5s
      retries: 5

  postfixadmin:
    container_name: postfixadmin
    image: "postfixadmin:latest"
    restart: always
    depends_on:
      postgresql:
        condition: service_healthy
    environment:
      - POSTFIXADMIN_DB_TYPE=pgsql
      - POSTFIXADMIN_DB_HOST=postgresql
      - POSTFIXADMIN_DB_USER=mail
      - POSTFIXADMIN_DB_PASSWORD=somePassword
      - POSTFIXADMIN_DB_NAME=mail
    ports:
     - "8181:80"
